.dock {
    display: flex;
    gap: 0.2rem;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(29, 80, 110, 0.252);
    // padding-inline: 0.6rem;
    padding-block: 0.52rem;

    backdrop-filter: blur(5px);

    .icon {
        padding: 0.3rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1/1;
        width: 3rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      
    }
    .cli {
        width: 3rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .icon:hover {
        transform: scale(1.1) translateY(-10%);
          background: #9e767633;
          border-radius: 0.5rem;
    }

    .icon:hover+.icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.05) translateY(-5%);
    }

}